.panelmenu-container {
    background-color: #1d2327;
    width: 160px;
    position: fixed;
    top: 42px;
    bottom: 0;
    z-index: 1;

    ul {
        li {
            margin:10px 0px;
            padding: 12px 12px;
            color: #9CA2A7;
            display: flex;
            align-items: center; 
            gap: 12px;
            font-size: 18px;
            border-left: 4px solid transparent;
            cursor: pointer;

            &:hover{
                color: #6BA3D8;
                border-left: 4px solid #6BA3D8;
            }

            span { 
                font-size: 14px;
            }
        }
    }
}


@media screen and (max-width: 800px) {
     .panelmenu-container{
        display: none;
     }
}