.categoryHero-container {
    height: 560px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    .categoryHero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 970px;
        text-align: center; 

        h2 {
            font-size: 70px;
            font-weight: 800;
            color: transparent; 
            background: linear-gradient(to right, #2c2c2c, #2485b3); 
            -webkit-background-clip: text; 
            background-clip: text; 
            margin-bottom: 30px;
        }
        p{
            width: 690px;
            color:#475467;
            font-size: 22px;
            font-weight: 400;
        }
    }
}